
/* Reset CSS
 * --------------------------------------- */


@font-face {
  font-family: "bell";
  src: url("../font/BELL.TTF"); 
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
    font-family: bell;
}
a{
	text-decoration:none;
}
img {
    border: 0;
}

strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

q:before,q:after {
    content:'';
}


/* Custom CSS
 * --------------------------------------- */

/* 阻止旋转屏幕时自动调整字体大小 */
* { -webkit-text-size-adjust: none;}
* { font-weight: normal; font-style: normal;}
*, *:after, *:before { -webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0;}

a:hover, a:active,input,select {outline: none;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input[type="text"], select, textarea {margin: 0; padding: 0;-webkit-appearance:none; }

/* 链接长按时不触发系统的菜单，也可用于img，在不想让用户长按将图片保存至相册时使用，默认禁止链接和图片 */
a,img { -webkit-touch-callout: none;}

/* 去除input和输入框的默认样式，并默认赋予30%的黑色背景 */
input { /*-webkit-appearance: none;*/ border: none; color:#000; }
textarea { border: none; color:#000; }

/* 去除iphone中按下时的高亮效果 */
/* 无法选择复制内容 */
* { -webkit-user-select: none; -moz-user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
input,textarea { -webkit-user-select: auto; -moz-user-select: auto; }




::-webkit-input-placeholder { /* WebKit browsers */
    color:    #666;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #666;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #666;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #666;
}


.error::-webkit-input-placeholder { /* WebKit browsers */
    color:    #f00;
}
.error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #f00;
}
.error::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #f00;
}
.error:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #f00;
}

body{
   width: 100%; 
   height: 100%;	
   font-size: 65%;
   text-align: center;
   background: #fff;
   border: .8em solid #f8e5c8;

}

/* start */
#header{
	width: 40%; 
	display:inline-block;
	margin: 1.2em 0 0 0;
	position: relative; 
	z-index: 2;

}
.title{
	width: 44%;
	margin: 1em 0 0 28%;
	position: relative; 
	z-index: 2;

}
.step1{
	position: relative; 
	z-index: 2;
	margin-top:-.2em;


}
.step2{
	position: relative; 
	z-index: 2;
	margin-top:-2em;


}
.intro{
	width: 38%; 
	margin: 2em 0 0 31%;
	position: relative; 
	z-index: 2;

}
.bg{
	width: 60%;
	height:42px; 
	display: inline-block; 
	background:url("../images/button.png") no-repeat center top; 
	background-size: 100% 100%;
	margin: 0.5em 0 0 0;
	overflow: hidden;
	position: relative;
	text-align: center;
}
input{
	background: none;
	border: none;
	text-align: center;
}

.bg input{
	width:90%;
	display: inline-block;
	height:100%;
}

.bg input.input_file{
	width:100%;
}

.txt{
	color: #000;
	font-size: 1.6em;
	padding-top: 1em;
}

.req{

    margin: 1em 0 2.1em 0;
    color: #000;
	font-size: 1.6em;
	font-weight: bold;
}

.req a{
	color: #000;
	width: 100%;
	height: 42px;
	line-height: 42px;
	display: inline-block;
}

.close_btn{
	float: right;
    clear: both;
    width:5%;
    text-align: right;
    margin: 12px 12px 0px 0px;
}
.first{
	
	background:url("../images/tip1.png") no-repeat center top; 
	background-size: 100% auto;

}
.second{
	
	background:url("../images/tip2.png") no-repeat center top; 
	background-size: 100% auto;

}
#loaded{
	width: 80%;
	height:36%;
	display: inline-block; 
	position:fixed;
	top:36%;
	left:10%;
	z-index:10;
	overflow: hidden;
	display: none;
}


.tip{
	width: 80%;
	height:36%;
	display: inline-block; 
	position:fixed;
	top:50%;
	left:50%;
	z-index: 10;
	overflow: hidden;
	display: none;
	margin: -22% 0 0 -40%;
}


.input_file{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.000001;
}
.formsubmit{
	font-weight: bold;
}




/* 横屏css */

#heng{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background: #000 url("../images/heng.png") no-repeat center;
    background-size: 60% auto;
    top: 0;
    left: 0;
    display: none;
}

