
/* Reset CSS
 * --------------------------------------- */


@font-face {
  font-family: "bell";
  src: url("../font/BELL.TTF"); 
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
    font-family: bell;
}
a{
	text-decoration:none;
}
img {
    border: 0;
}

strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}

q:before,q:after {
    content:'';
}


/* Custom CSS
 * --------------------------------------- */

/* 阻止旋转屏幕时自动调整字体大小 */
* { -webkit-text-size-adjust: none;}
* { font-weight: normal; font-style: normal;}
*, *:after, *:before { -webkit-box-sizing: border-box;  -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0;}



::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}


.error::-webkit-input-placeholder { /* WebKit browsers */
    color:    #f00;
}
.error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #f00;
}
.error::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #f00;
}
.error:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #f00;
}


 input:focus{
         outline:none;
 }








/* 横屏css */

#heng{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background: #fffdfd url("../images/heng.png") no-repeat center;
    background-size: 70% auto;
    top: 0;
    left: 0;
    display: none;
}


/* 设备竖屏时调用该段css代码 */
@media all and (orientation : portrait){
	#heng{
		display: none;
	}
}
/* 设备横屏时调用该段css代码 */
@media all and (orientation : landscape){
	#heng{
		display: inline-block;
	}
}
body{
   width: 100%; 
   height: 100%;	
   font-size: 65%;
   text-align: center;
   background: #fff;
   border: .8em solid #f8e5c8;

}

/* start */
#header{
	width: 40%; 
	display:inline-block;
	margin: 1.2em 0 0 0;
	position: relative; 
	z-index: 2;

}
.title{
	width: 44%;
	margin: 1em 0 0 28%;
	position: relative; 
	z-index: 2;

}
.step1{
	position: relative; 
	z-index: 2;
	margin-top:-.2em;


}
.step2{
	position: relative; 
	z-index: 2;
	margin-top:-2em;


}
.intro{
	width: 38%; 
	margin: 2em 0 0 31%;
	position: relative; 
	z-index: 2;

}
.bg{
	width: 60%;
	height:3.6em; 
	display: inline-block; 
	background:url("../images/button.png") no-repeat center top; 
	background-size: 100% auto;
	margin: 0.6em 0 0 0;
	overflow: hidden;
	position: relative;
	text-align: center;
}
input{
	background: none;
	border: none;
	text-align: center;
}

.bg input{
	width:90%;
	height: 70%;
	display: inline-block;
	line-height: 16px;
}

.txt{
	color: #000;
	font-size: 1.6em;
	padding-top: 1em;
}

.req{

    margin: 1.6em 0 0 0;
    color: #000;
	font-size: 1.6em;
	font-weight: bold;
	padding-top: .6em;
}

.req a{
	color: #000;
	width: 100%;
	height: 36px;
	line-height: 36px;
	display: inline-block;
}

.close_btn{
	float: right;
    clear: both;
    width:5%;
    text-align: right;
    margin: 12px 12px 0px 0px;
}
.first{
	
	background:url("../images/tip1.png") no-repeat center top; 
	background-size: 100% auto;

}
.second{
	
	background:url("../images/tip2.png") no-repeat center top; 
	background-size: 100% auto;

}

.tip{
	width: 80%;
	height:50%;
	display: inline-block; 
	position: absolute;
	top:30%;
	left:10%;
	z-index: 10;
	overflow: hidden;
	display: none;
}


.input_file{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
.formsubmit{
	font-weight: bold;
}





